# data
/.minecraft/.mixin.out
/.minecraft/backups
/.minecraft/coremods
/.minecraft/crash-reports
/.minecraft/local
/.minecraft/logs
/.minecraft/saves
/.minecraft/screenshots
/.minecraft/server-resource-packs
/.minecraft/texturepacks
/.minecraft/TombManyGraves
/.minecraft/*.*
/.minecraft/config/BlockDrops/modVersions.txt
/.minecraft/config/BlockDrops/blockdrops.txt
/.minecraft/config/AppliedEnergistics2/items.csv
/.minecraft/config/jei/bookmarks.ini
/.minecraft/journeymap
/.minecraft/crafttweaker_dump
/.minecraft/assets

# jars
/.minecraft/mods/*

# scripts
/.minecraft/scripts/recipes.zs

# config
/.minecraft/config/jei/worldSettings.cfg
/.minecraft/config/jei/bookmarks.ini
/.minecraft/config/MouseTweaks.cfg
/.minecraft/.ReAuth.cfg
/instance.cfg
/.minecraft/config/splash.properties

# other
/.minecraft/resourcepacks/Minecraft-Mod-Language-Modpack.zip
/.minecraft/resourcepacks/Unity-1.12_plus.zip
/.minecraft/TombManyGraves/friends.fdat
/.minecraft/config/i18nmod.cfg
/.minecraft/dakimakura-mod/*
/natives
*.dll
