# Configuration file

general {
    # Select the Files where the Effect Data should be loaded from [default: ]
    S:EffectFiles <
        effects.json
     >

    # Select the Files where the Weight Data should be loaded from [default: ]
    S:WeightFiles <
        test.xml
     >
    B:loadHelperUI=false
    D:max_weight=100.0
}


